<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
        <link rel="icon" href="/images/icon.png">        
		<link rel="stylesheet" href="/css/bootstrap.css">
		</head>
	<body>
		{{>header}}
		<p>This site is created by Mohit Belwal.<p>
		<p>Credits:-</p>
		<ul>
			<li>API credit to <a href="https://weatherstack.com"> weatherstack.com</a> </li>
			<li>Icon image taken from <a href="http://www.myiconfinder.com/icon/weather-cloud-cloudy-day-forecast-sun-sunny-warm/18824"> myiconfinder.com</a> </li>
		</ul>
		{{>footer}}
	</body>
</html>

