<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
        <link rel="icon" href="/images/icon.png">        
		<link rel="stylesheet" href="/css/bootstrap.css">
		</head>
	<body>
		{{>header}}
		<header>
		<ul>
		<li>My name  </li>
		<li>My home</li>
		<li>My nation</li> 
		</ul>
		</header>
		{{>footer}}
	</body>
</html>

