<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/icon.png">        
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>

    <body>
        {{>header}}
        {{>footer}}
    </body>
</html>