<hr>
	<div class="row">
		<div class="col-md-3">
			<a href="/">
				<img src="/images/icon.png" height="75%">
			</a>
		</div>
		<div class="col-md-8">	
			<h1>{{title}}</h1>
			<a href="/"> Home </a>&nbsp;
			<a href="/about"> About </a>&nbsp;
			<a href="/help"> Help </a>&nbsp;
		</div>
	</div>

</hr>